body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
}

.App {
  width: 80%;
  margin: 0 auto;
}

.area {
  display: block;
  margin: 20px auto;
  min-width: 320px;
  min-height: 240px;
}

.markdown {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
}
